/* .navbar{
    display: flex;
    justify-content:space-evenly ;
}
div{
    background-color: pink;
}
a {
    text-decoration: none;
    color: black;
    color: rgb(221, 0, 0);
}

li{
    list-style-type: lower-alpha;
   display: inline;
} */
.tension{
    width: 100px;
    height: 100px;
    background-color: pink;
}
@media(min-width: 300px) and (max-width: 400px){
    .tension{
        background-color: green;
    }
}